@charset "UTF-8";
/* ------------------------------ INDEX ------------------------------ */
/* ------------------------------ INDEX ------------------------------ */
/* --------- contendio_perfil INDEX --------- */
.botonQuiero {
  transition: all 1s;
}

.botonQuiero:hover {
  /* -- caja -- */
  width: 220px;
  font-size: 18px;
  color: #ffff;
  background-color: #aa8d4d;
  text-decoration: none;
}

/* --------- contenido_habilidades INDEX --------- */
.icono_g {
  transition: all 1s;
}

.icono_g:hover {
  transform: scale(2, 2);
}

/* ------------------------------ GALERIA ------------------------------ */
/* ------------------------------ GALERIA ------------------------------ */
.imagen_galeria {
  transition: all 1s;
}

.imagen_galeria:hover {
  transform: scale(1.1, 1.1);
}

/* ------------------------------ SERVICIOS ------------------------------ */
/* ------------------------------ SERVICIOS ------------------------------ */
.foto_servicios:hover {
  transform: scale(1.1, 1.1);
}

/* ------------------------------ PRODUCTOS ------------------------------ */
/* ------------------------------ PRODUCTOS ------------------------------ */
.titulo_productos_subtitulo {
  background-color: #506161;
  font-size: x-large;
  margin: 10px;
  padding: 10px;
}

/* ----------------- ESTILOS GENERALES --------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* - Para que no me sume los extras que le voy a dar - */
}

body {
  background-size: cover;
  font-size: 2rem;
  line-height: 1em;
  margin: 0;
}

/* ------------------------------ INDEX ------------------------------ */
/* ------------------------------ INDEX ------------------------------ */
.navegacion .menu {
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  /* -- tamaño del Link --*/
}

.titulo_hola {
  position: relative;
  z-index: 100px;
  margin-top: 0px;
  margin-bottom: 0;
  color: transparent;
}

/* --------- contenido_perfil INDEX --------- */
.titulo_perfil_index {
  /* ----- titulo -----  */
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #103c8d;
}

.parrafo_perfil_resumen {
  /* ----- parrafo ----- */
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-bottom: 15px;
  padding: 20px;
  color: #000000;
  text-align: center;
}

/* --------- contenido_habilidades INDEX --------- */
.titulo_secundario {
  /* ----- titulo -----  */
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  /*2rem*/
  text-align: center;
  color: #aa8d4d;
}

.icono_titulo {
  /* ----- titulo iconos-----  */
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  /*25px*/
  text-align: center;
  color: #191919;
}

.parrafo_habilidades {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  /*18px*/
  text-align: center;
  color: #191919;
}

.icono_g {
  width: 200px;
  height: 150px;
  padding-top: 50px;
  background-color: transparent;
  color: #191919;
  font-size: 50px;
  border-radius: 50px;
  /* angulos */
}

.icono_parrafo {
  /* ----- parrafo iconos-----  */
  font-size: 15px;
  /*15px*/
  text-align: center;
  color: #191919;
}

.icono_g:hover {
  color: #103c8d;
}

/* --------- contenido_marcas INDEX --------- */
.talle {
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}

.titulo_remera {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  /*25px*/
  text-align: center;
  color: #191919;
}

.parrafo_remera {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  /*18px*/
  text-align: center;
  color: #000000;
}

/* --------- contenido_despegar INDEX --------- */
.titulo_despegar {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  /*2rem*/
  color: #ffff;
}

.despega_parrafo {
  font-family: 'Montserrat', sans-serif;
  color: #ffff;
  font-size: 18px;
  /*18px*/
}

/* ------------------------------ PERFIL ------------------------------ */
/* ------------------------------ PERFIL ------------------------------ */
.titulo_perfil {
  /* ---- Facundo ---- */
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: xx-large;
  margin: 10px;
  padding: 10px;
  color: #191919;
}

.titulo_perfil_subtitulo {
  /* ---- Quien Soy? ---- */
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  /*20px*/
  color: #ba1818;
  margin-top: 1%;
  padding: 10px;
}

.contenido_perfil {
  /* ---- titulo y parrafo ---- */
  font-family: 'Montserrat', sans-serif;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  font-size: 18px;
  /*20px*/
}

.parrafo_perfil {
  /* ---- parrafo ---- */
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: #191919;
  padding-right: 20%;
  padding-left: 20%;
}

/* ------------------------------ SERVICIOS ------------------------------ */
/* ------------------------------ SERVICIOS ------------------------------ */
.titulo_principal_servicios {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  /*25px*/
  text-align: center;
  color: #103c8d;
}

.titulo_servicio {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1rem;
  /*1rem*/
}

.parrafo_servicio {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 15px;
  margin-right: 5px;
  font-style: italic;
  font-size: 15px;
  /*15px*/
}

/* ------------------------------ PRODUCTOS ------------------------------ */
/* ------------------------------ PRODUCTOS ------------------------------ */
.titulos_principal_productos {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  /*25px*/
  text-align: center;
  color: #aa8d4d;
}

.titulos_secundario_productos {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  /*18px*/
  color: #191919;
}

.titulo_productos_subtitulo {
  background-color: #aa8d4d;
  font-size: x-large;
  margin: 10px;
  padding: 10px;
}

.titulo_carta {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.p_carta {
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}

.btn-primary {
  background-color: orange;
  box-shadow: 0 -5 5px gray;
  text-align: center;
}

.btn-primary:hover {
  background-color: #aa8d4d;
}

/* ------------------------------ GALERIA ------------------------------ */
/* ------------------------------ GALERIA ------------------------------ */
.titulo_galeria {
  color: transparent;
}

/* -------- bucle -------- */
.img1 {
  box-shadow: 0 0 5px #000000;
  width: 70%;
  height: auto;
}

.img2 {
  box-shadow: 0 0 5px #000000;
  width: 70%;
  height: auto;
}

.img3 {
  box-shadow: 0 0 5px #000000;
  width: 70%;
  height: auto;
}

.img4 {
  box-shadow: 0 0 5px #000000;
  width: 70%;
  height: auto;
}

.img5 {
  box-shadow: 0 0 5px #000000;
  width: 70%;
  height: auto;
}

.img6 {
  box-shadow: 0 0 5px #000000;
  width: 70%;
  height: auto;
}

.img7 {
  box-shadow: 0 0 5px #000000;
  width: 70%;
  height: auto;
}

.img8 {
  box-shadow: 0 0 5px #000000;
  width: 70%;
  height: auto;
}

.img9 {
  box-shadow: 0 0 5px #000000;
  width: 70%;
  height: auto;
}

/* ------------------------------ CONTACTOS ------------------------------ */
/* ------------------------------ CONTACTOS ------------------------------ */
.titulo_principal_contacto {
  color: transparent;
}

.text_contacto_p {
  font-size: x-large;
  text-shadow: 0 0 15px #adadad;
}

.text_contacto {
  font-size: large;
}

/* ---------------------------- ERROR -------------------------------- */
/* ---------------------------- ERROR -------------------------------- */
.titulo_contacto_error {
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
  text-align: center;
}

.footer_parrafo_error {
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}

/* ------------------------------ INDEX ------------------------------ */
/* ------------------------------ INDEX ------------------------------ */
/* --------- contendio_perfil INDEX --------- */
.botonQuiero {
  /* -- caja -- */
  display: inline-block;
  background-color: orange;
  color: #191919;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  width: 220px;
  height: 50px;
  /* tamaño del boton */
  margin-left: 150px;
  box-shadow: 0 0 5px black;
}

/* --------- contenido_habilidades INDEX --------- */
.boton_hab {
  display: inline-block;
  background-color: #aa8d4d;
  color: #191919;
  padding: 5px 0;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  width: 120px;
  height: 40px;
  /* tamaño del boton */
}

.icono_grafico .boton_hab {
  text-decoration: none;
}

/* --------- contenido_despegar INDEX --------- */
.boton_desp {
  display: inline-block;
  background-color: #ffff;
  color: #191919;
  padding: 5px 0;
  margin-bottom: 15px;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  width: 150px;
  height: 40px;
  /* tamaño del boton */
}

.btn-primary_contacto {
  background-color: #103c8d;
  color: #ffff;
  box-shadow: 0 -5 5px gray;
  text-align: center;
}

.btn-primary_contacto:hover {
  background-color: #aa8d4d;
}

/* ---------------------------- ERROR -------------------------------- */
/* ---------------------------- ERROR -------------------------------- */
.botonVolver {
  display: inline-block;
  background-color: #aa8d4d;
  color: #191919;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  padding: 5px 0;
  margin-bottom: 10px;
  margin-top: 110px;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  width: 120px;
  height: 40px;
  /* tamaño del boton */
}

/* ------------------------- Footer INDEX ------------------------- */
/* ------------------------- Footer INDEX ------------------------- */
.footer_index {
  position: relative;
  width: 100%;
  padding: 80px 50px 50px;
  background-color: #dcdcdc;
  /* Flex */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.footer_index::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #ffff;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.footer_contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  place-items: center;
  margin-bottom: 30px;
}

.footer_texts .titulo_contacto {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  /*20px*/
  color: #000000;
}

.footer_texts .footer_parrafo {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  /*20px*/
  color: #000000;
}

/* -------- Redes Sociales INDEX -------- */
.footer_social {
  display: flex;
  padding-top: 30px;
  flex-wrap: wrap;
  margin-left: 150px;
}

.footer_social .footer_icon {
  color: #103c8d;
}

.footer_social .footer_icon:hover {
  color: #aa8d4d;
}

.footer_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding-right: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.footer_picture {
  margin: 0;
  margin-bottom: 50px;
}

.footer_picture .footer_img {
  width: 60%;
}

.footer_copyright {
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  padding-top: 30px;
  border-top: 2px solid #aa8d4d;
  flex-direction: row;
  text-align: center;
  gap: 30px;
}

/* -------- FIN Redes Sociales INDEX -------- */
/* ------------------------- footer PERFIL ----------------------------- */
/* ------------------------- footer PERFIL ----------------------------- */
.footer_perfil {
  position: relative;
  width: 100%;
  padding: 30px 0 50px;
  background-color: transparent;
  /* Flex */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* -------- Redes Sociales PERFIL -------- */
.nav_perfil {
  display: flex;
  justify-content: center;
}

.redes_sociales_perfil {
  list-style-type: none;
  position: static;
  padding: 10px;
}

.redes_sociales_perfil a {
  /* Flex */
  display: flex;
  display: inline-block;
}

/* --- ICONOS ----- */
.icono_whatsapp_perfil {
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: #aa8d4d;
  font-size: 30px;
  border-radius: 40px;
  text-align: center;
  z-index: 1000;
}

.icono_youtube_perfil {
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: #aa8d4d;
  font-size: 30px;
  border-radius: 40px;
  text-align: center;
  z-index: 1000;
}

.icono_instagram_perfil {
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: #aa8d4d;
  font-size: 30px;
  border-radius: 40px;
  text-align: center;
  z-index: 1000;
}

.icono_mail_perfil {
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: #aa8d4d;
  font-size: 30px;
  border-radius: 40px;
  flex-direction: row;
  text-align: center;
  gap: 50px;
  margin-bottom: 0%;
  margin-top: 0%;
  z-index: 1000;
}

.footer_copyright_perfil {
  padding-top: 30px;
  border-top: 2px solid #aa8d4d;
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  flex-direction: row;
  text-align: center;
  gap: 30px;
}

/* ------------------------- footer SERVICIO ----------------------------- */
/* ------------------------- footer SERVICIO ----------------------------- */
.footer_servicio {
  position: relative;
  width: 100%;
  padding: 30px 0 50px;
  background-color: transparent;
  /* Flex */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.footer_copyright_servicios {
  padding-top: 30px;
  border-top: 2px solid #aa8d4d;
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  flex-direction: row;
  text-align: center;
  gap: 30px;
}

/* ------------------------- footer PRODUCTOS ----------------------------- */
/* ------------------------- footer PRODUCTOS ----------------------------- */
.footer_productos {
  position: relative;
  width: 100%;
  padding: 30px 0 50px;
  background-color: transparent;
  /* Flex */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.footer_copyright_productos {
  padding-top: 30px;
  border-top: 2px solid #aa8d4d;
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  flex-direction: row;
  text-align: center;
  gap: 30px;
}

/* ------------------------- footer GALERIA ----------------------------- */
/* ------------------------- footer GALERIA ----------------------------- */
.footer_galeria {
  position: relative;
  width: 100%;
  padding: 30px 0 50px;
  background-color: transparent;
  /* Flex */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.footer_copyright_galeria {
  padding-top: 30px;
  border-top: 2px solid #aa8d4d;
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  flex-direction: row;
  text-align: center;
  gap: 30px;
}

/* ------------------------- footer CONTACTO ----------------------------- */
/* ------------------------- footer CONTACTO ----------------------------- */
.footer_contactos {
  position: relative;
  width: 100%;
  padding: 80px 50px 50px;
  background-color: transparent;
  /* Flex */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* -------- Redes Sociales CONTACTO -------- */
.titulo_contacto_contacto {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  /*20px*/
  padding: 5%;
}

.footer_parrafo_contacto {
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}

.footer_social_contacto {
  display: flex;
  padding-top: 30px;
  flex-wrap: wrap;
  margin-left: 150px;
}

.footer_social_contacto .footer_icon_contacto {
  color: #191919;
}

.footer_social_contacto .footer_icon_contacto:hover {
  color: #aa8d4d;
}

.footer_icon_contacto {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-right: 40px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.footer_picture_contacto {
  margin: 0;
  opacity: 70%;
  margin-bottom: 50px;
  margin-left: 80px;
}

.footer_picture_contacto img {
  width: 60%;
}

.footer_copyright_contacto {
  font-family: 'Montserrat', sans-serif;
  padding-top: 30px;
  border-top: 2px solid #aa8d4d;
  font-size: small;
  flex-direction: row;
  text-align: center;
  gap: 30px;
}

/* ---------------------------- ERROR -------------------------------- */
/* ---------------------------- ERROR -------------------------------- */
.footer_error {
  position: relative;
  width: 100%;
  padding: 0 0 10px;
  background-color: transparent;
  /* Flex */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.footer_contacto_error {
  display: flex;
}

.footer_texts_error {
  /* background-color: $backGround1; */
  padding: 50px;
  border-radius: 10%;
}

.box_error {
  background-color: #dcdcdc;
  box-shadow: 0 0 10px black;
  padding: 40px;
  border-radius: 5%;
}

/* -------- Redes Sociales ERROR -------- */
.footer_social_error {
  display: flex;
  padding-top: 30px;
  flex-wrap: wrap;
  margin-left: 50px;
}

.footer_social_error .footer_icon_error {
  color: #191919;
}

.footer_social_error .footer_icon_error:hover {
  color: #aa8d4d;
}

.footer_icon_error {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding-right: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.boton_picture {
  margin: 0;
}

/* -------- FIN Redes Sociales ERROR -------- */
.footer_copyright_error {
  font-family: 'Montserrat', sans-serif;
  padding-top: 30px;
  font-size: small;
  flex-direction: row;
  text-align: center;
  gap: 30px;
}

/* ---------------------------- INDEX -------------------------------- */
/* ---------------------------- INDEX -------------------------------- */
/* --------- contenido_despegar INDEX --------- */
.contenido_despegar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  background-color: #dcdcdc;
  width: 100%;
  position: relative;
  margin: 5%;
}

.despega {
  margin: 50px;
  grid-column: 3/-1;
  grid-row: 1/-1;
}

.despega_img {
  width: 80%;
  object-fit: cover;
  margin-left: 15%;
}

.despega_about {
  z-index: 100;
  align-self: center;
  width: 97%;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 0 0 6px #000000;
  background-color: #103c8d;
  grid-column: 1/4;
  grid-row: 2/-2;
  margin-right: 50px;
}

.despega--right {
  grid-column: 1/4;
}

.despega_about--left {
  grid-column: 3/-1;
}

/* ------------------------------ GALERIA ------------------------------ */
/* ------------------------------ GALERIA ------------------------------ */
main .titulo_galeria {
  color: transparent;
}

main .contenedor_galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "soymascota nattybrit weirdo" "gameobert quimey soymascota2" "weirdo2 soytaza gino";
  /* ---- Grids END ---- */
}

main .contenedor_galeria .imagen_galeria {
  display: block;
  width: 300px;
  height: 300px;
}

main .contenedor_galeria .weirdo {
  grid-area: weirdo;
  background-image: url(../imagenes/imagenes_galeria/weirdo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main .contenedor_galeria .weirdo2 {
  grid-area: weirdo2;
  background-image: url(../imagenes/imagenes_galeria/weirdo2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main .contenedor_galeria .nattybrit {
  grid-area: nattybrit;
  background-image: url(../imagenes/imagenes_galeria/nattybrit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main .contenedor_galeria .soytaza {
  grid-area: soytaza;
  background-image: url(../imagenes/imagenes_galeria/soytaza.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main .contenedor_galeria .soymascota {
  grid-area: soymascota;
  background-image: url(../imagenes/imagenes_galeria/soymascota.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main .contenedor_galeria .soymascota2 {
  grid-area: soymascota2;
  background-image: url(../imagenes/imagenes_galeria/soymascota2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main .contenedor_galeria .quimey {
  grid-area: quimey;
  background-image: url(../imagenes/imagenes_galeria/quimey.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main .contenedor_galeria .gameobert {
  grid-area: gameobert;
  background-image: url(../imagenes/imagenes_galeria/gameobert.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main .contenedor_galeria .gino {
  grid-area: gino;
  background-image: url(../imagenes/imagenes_galeria/gino.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main .contenedor_galeria .imagen_galeria {
  transition: all 1s;
}

main .contenedor_galeria .imagen_galeria:hover {
  transform: scale(1.1, 1.1);
}

@media screen and (max-width: 400px) {
  main .contenedor_galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-auto-columns: 1fr;
    gap: 20px 10px;
    /* ---- gap, espacio entre filas y columnas ---- */
    grid-auto-flow: row;
    grid-template-areas: "soymascota"  "nattybrit"  "weirdo" "gameobert"  "quimey"  "soymascota2" "weirdo2" "soytaza"  "gino";
    height: 50%;
    justify-content: center;
    padding: 20px;
    /* ---- para que se separen un poco ---- */
  }
  main .contenedor_galeria .imagen_galeria {
    display: block;
    width: 100px;
    height: 100px;
  }
}

/* ------------------------- header INDEX ----------------------------- */
/* ------------------------- header INDEX ----------------------------- */
.header_index {
  background-color: transparent;
  width: 100%;
  right: 0;
  margin: auto;
  /* position: fixed; */
  left: 0;
  top: 0;
  /* Flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* -- Logo y navegacion en cada punta -- */
  align-items: center;
  /* -- Alinear -- */
}

.header_index a img {
  background-color: transparent;
  line-height: 150px;
  margin: auto;
}

.contenedor_index header.header_index input#menu {
  display: none;
}

.contenedor_index header.header_index label {
  cursor: pointer;
  margin-right: 38px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  transition: 0.3s;
  position: relative;
}

.contenedor_index header.header_index label span.linea {
  background: black;
  transition: 0.5s;
  position: absolute;
  padding-top: 2px;
  height: 2px;
  width: 18px;
  border-radius: 100px;
}

.contenedor_index header.header_index label span.linea:nth-of-type(1) {
  top: -200%;
}

.contenedor_index header.header_index label span.linea:nth-of-type(2) {
  top: 0%;
}

.contenedor_index header.header_index label span.linea:nth-of-type(3) {
  top: 200%;
}

.contenedor_index header.header_index nav.navegacion {
  display: none;
  position: relative;
  top: 100%;
  background: #dcdcdc;
  width: 100%;
  padding: 0 16px 0px;
  text-decoration: none;
}

.contenedor_index header.header_index nav.navegacion ul.menu {
  display: grid;
  padding: 0 16px;
  text-align: center;
  justify-items: center;
  list-style: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.contenedor_index header.header_index nav.navegacion ul.menu li {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.contenedor_index header.header_index nav.navegacion ul.menu li a {
  text-align: center;
  padding: 12px 0;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.contenedor_index header.header_index nav.navegacion ul.menu hr {
  width: 41px;
  height: 0.1px;
  opacity: 0.5;
  border: 0.1px solid green;
}

.contenedor_index header.header_index input#menu:checked ~ nav.navegacion {
  display: inline;
}

.contenedor_index header.header_index input[type="checkbox"]:checked + label span.linea:nth-of-type(1) {
  transform: rotate(-45deg) scaleX(1.1);
  top: 0;
}

.contenedor_index header.header_index input[type="checkbox"]:checked + label span.linea:nth-of-type(2) {
  opacity: 0;
}

.contenedor_index header.header_index input[type="checkbox"]:checked + label span.linea:nth-of-type(3) {
  transform: rotate(45deg) scaleX(1.1);
  top: 0;
}

@media screen and (min-width: 740px) {
  .contenedor_index header.header_index img {
    width: 120px;
    height: 120px;
  }
  .contenedor_index header.header_index label {
    display: none;
  }
  .contenedor_index header.header_index hr {
    display: none;
  }
  .contenedor_index header.header_index nav.navegacion {
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    background: none;
    position: relative;
    width: auto;
    margin-right: 3vw;
  }
  .contenedor_index header.header_index nav.navegacion ul.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-columns: 10px;
  }
}

/* ------------------------- header PERFIL ----------------------------- */
/* ------------------------- header PERFIL ----------------------------- */
.header_perfil {
  background-color: transparent;
  width: 100%;
  right: 0;
  margin: auto;
  /* position: fixed; */
  left: 0;
  top: 0;
  /* Flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* -- Logo y navegacion en cada punta -- */
  align-items: center;
  /* -- Alinear -- */
}

.header_perfil a img {
  background-color: transparent;
  line-height: 150px;
  margin: auto;
}

header.header_perfil input#menu {
  display: none;
}

header.header_perfil label {
  cursor: pointer;
  margin-right: 38px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  transition: 0.3s;
  position: relative;
}

header.header_perfil label span.linea {
  background: black;
  transition: 0.5s;
  position: absolute;
  padding-top: 2px;
  height: 2px;
  width: 18px;
  border-radius: 100px;
}

header.header_perfil label span.linea:nth-of-type(1) {
  top: -200%;
}

header.header_perfil label span.linea:nth-of-type(2) {
  top: 0%;
}

header.header_perfil label span.linea:nth-of-type(3) {
  top: 200%;
}

header.header_perfil nav.navegacion {
  display: none;
  position: relative;
  top: 100%;
  background: #dcdcdc;
  width: 100%;
  padding: 0 16px 0px;
  text-decoration: none;
}

header.header_perfil nav.navegacion ul.menu {
  display: grid;
  padding: 0 16px;
  text-align: center;
  justify-items: center;
  list-style: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

header.header_perfil nav.navegacion ul.menu li {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

header.header_perfil nav.navegacion ul.menu li a {
  text-align: center;
  padding: 12px 0;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

header.header_perfil nav.navegacion ul.menu hr {
  width: 41px;
  height: 0.1px;
  opacity: 0.5;
  border: 0.1px solid green;
}

header.header_perfil input#menu:checked ~ nav.navegacion {
  display: inline;
}

header.header_perfil input[type="checkbox"]:checked + label span.linea:nth-of-type(1) {
  transform: rotate(-45deg) scaleX(1.1);
  top: 0;
}

header.header_perfil input[type="checkbox"]:checked + label span.linea:nth-of-type(2) {
  opacity: 0;
}

header.header_perfil input[type="checkbox"]:checked + label span.linea:nth-of-type(3) {
  transform: rotate(45deg) scaleX(1.1);
  top: 0;
}

@media screen and (min-width: 740px) {
  header.header_perfil img {
    width: 120px;
    height: 120px;
  }
  header.header_perfil label {
    display: none;
  }
  header.header_perfil hr {
    display: none;
  }
  header.header_perfil nav.navegacion {
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    background: none;
    position: relative;
    width: auto;
    margin-right: 3vw;
  }
  header.header_perfil nav.navegacion ul.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-columns: 10px;
  }
}

/* ------------------------- header SERVICIO ----------------------------- */
/* ------------------------- header SERVICIO ----------------------------- */
.header_servicio {
  background-color: transparent;
  width: 100%;
  right: 0;
  margin: auto;
  /* position: fixed; */
  left: 0;
  top: 0;
  /* Flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* -- Logo y navegacion en cada punta -- */
  align-items: center;
  /* -- Alinear -- */
}

.header_servicio a img {
  background-color: transparent;
  line-height: 150px;
  margin: auto;
}

.contenedor_servicio header.header_servicio input#menu {
  display: none;
}

.contenedor_servicio header.header_servicio label {
  cursor: pointer;
  margin-right: 38px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  transition: 0.3s;
  position: relative;
}

.contenedor_servicio header.header_servicio label span.linea {
  background: black;
  transition: 0.5s;
  position: absolute;
  padding-top: 2px;
  height: 2px;
  width: 18px;
  border-radius: 100px;
}

.contenedor_servicio header.header_servicio label span.linea:nth-of-type(1) {
  top: -200%;
}

.contenedor_servicio header.header_servicio label span.linea:nth-of-type(2) {
  top: 0%;
}

.contenedor_servicio header.header_servicio label span.linea:nth-of-type(3) {
  top: 200%;
}

.contenedor_servicio header.header_servicio nav.navegacion {
  display: none;
  position: relative;
  top: 100%;
  background: #dcdcdc;
  width: 100%;
  padding: 0 16px 0px;
  text-decoration: none;
}

.contenedor_servicio header.header_servicio nav.navegacion ul.menu {
  display: grid;
  padding: 0 16px;
  text-align: center;
  justify-items: center;
  list-style: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.contenedor_servicio header.header_servicio nav.navegacion ul.menu li {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.contenedor_servicio header.header_servicio nav.navegacion ul.menu li a {
  text-align: center;
  padding: 12px 0;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.contenedor_servicio header.header_servicio nav.navegacion ul.menu hr {
  width: 41px;
  height: 0.1px;
  opacity: 0.5;
  border: 0.1px solid green;
}

.contenedor_servicio header.header_servicio input#menu:checked ~ nav.navegacion {
  display: inline;
}

.contenedor_servicio header.header_servicio input[type="checkbox"]:checked + label span.linea:nth-of-type(1) {
  transform: rotate(-45deg) scaleX(1.1);
  top: 0;
}

.contenedor_servicio header.header_servicio input[type="checkbox"]:checked + label span.linea:nth-of-type(2) {
  opacity: 0;
}

.contenedor_servicio header.header_servicio input[type="checkbox"]:checked + label span.linea:nth-of-type(3) {
  transform: rotate(45deg) scaleX(1.1);
  top: 0;
}

@media screen and (min-width: 740px) {
  .contenedor_servicio header.header_servicio img {
    width: 120px;
    height: 120px;
  }
  .contenedor_servicio header.header_servicio label {
    display: none;
  }
  .contenedor_servicio header.header_servicio hr {
    display: none;
  }
  .contenedor_servicio header.header_servicio nav.navegacion {
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    background: none;
    position: relative;
    width: auto;
    margin-right: 3vw;
  }
  .contenedor_servicio header.header_servicio nav.navegacion ul.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-columns: 10px;
  }
}

/* ------------------------- header PRODUCTOS ----------------------------- */
/* ------------------------- header PRODUCTOS ----------------------------- */
.header_productos {
  background-color: transparent;
  width: 100%;
  right: 0;
  margin: auto;
  /* position: fixed; */
  left: 0;
  top: 0;
  /* Flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* -- Logo y navegacion en cada punta -- */
  align-items: center;
  /* -- Alinear -- */
}

.header_productos a img {
  background-color: transparent;
  line-height: 150px;
  margin: auto;
}

.contenedor_productos_todos header.header_productos input#menu {
  display: none;
}

.contenedor_productos_todos header.header_productos label {
  cursor: pointer;
  margin-right: 38px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  transition: 0.3s;
  position: relative;
}

.contenedor_productos_todos header.header_productos label span.linea {
  background: black;
  transition: 0.5s;
  position: absolute;
  padding-top: 2px;
  height: 2px;
  width: 18px;
  border-radius: 100px;
}

.contenedor_productos_todos header.header_productos label span.linea:nth-of-type(1) {
  top: -200%;
}

.contenedor_productos_todos header.header_productos label span.linea:nth-of-type(2) {
  top: 0%;
}

.contenedor_productos_todos header.header_productos label span.linea:nth-of-type(3) {
  top: 200%;
}

.contenedor_productos_todos header.header_productos nav.navegacion {
  display: none;
  position: relative;
  top: 100%;
  background: #dcdcdc;
  width: 100%;
  padding: 0 16px 0px;
  text-decoration: none;
}

.contenedor_productos_todos header.header_productos nav.navegacion ul.menu {
  display: grid;
  padding: 0 16px;
  text-align: center;
  justify-items: center;
  list-style: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.contenedor_productos_todos header.header_productos nav.navegacion ul.menu li {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.contenedor_productos_todos header.header_productos nav.navegacion ul.menu li a {
  text-align: center;
  padding: 12px 0;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.contenedor_productos_todos header.header_productos nav.navegacion ul.menu hr {
  width: 41px;
  height: 0.1px;
  opacity: 0.5;
  border: 0.1px solid green;
}

.contenedor_productos_todos header.header_productos input#menu:checked ~ nav.navegacion {
  display: inline;
}

.contenedor_productos_todos header.header_productos input[type="checkbox"]:checked + label span.linea:nth-of-type(1) {
  transform: rotate(-45deg) scaleX(1.1);
  top: 0;
}

.contenedor_productos_todos header.header_productos input[type="checkbox"]:checked + label span.linea:nth-of-type(2) {
  opacity: 0;
}

.contenedor_productos_todos header.header_productos input[type="checkbox"]:checked + label span.linea:nth-of-type(3) {
  transform: rotate(45deg) scaleX(1.1);
  top: 0;
}

@media screen and (min-width: 900px) {
  .contenedor_productos_todos header.header_productos img {
    width: 120px;
    height: 120px;
  }
  .contenedor_productos_todos header.header_productos label {
    display: none;
  }
  .contenedor_productos_todos header.header_productos hr {
    display: none;
  }
  .contenedor_productos_todos header.header_productos nav.navegacion {
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    background: none;
    position: relative;
    width: auto;
    margin-right: 3vw;
  }
  .contenedor_productos_todos header.header_productos nav.navegacion ul.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-columns: 10px;
  }
}

/* ------------------------- header GALERIA ----------------------------- */
/* ------------------------- header GALERIA ----------------------------- */
.header_galeria {
  background-color: transparent;
  width: 100%;
  right: 0;
  margin: auto;
  /* position: fixed; */
  left: 0;
  top: 0;
  /* Flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* -- Logo y navegacion en cada punta -- */
  align-items: center;
  /* -- Alinear -- */
}

.header_galeria a img {
  background-color: transparent;
  line-height: 150px;
  margin: auto;
}

.contenedor_galeria_todo header.header_galeria input#menu {
  display: none;
}

.contenedor_galeria_todo header.header_galeria label {
  cursor: pointer;
  margin-right: 38px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  transition: 0.3s;
  position: relative;
}

.contenedor_galeria_todo header.header_galeria label span.linea {
  background: black;
  transition: 0.5s;
  position: absolute;
  padding-top: 2px;
  height: 2px;
  width: 18px;
  border-radius: 100px;
}

.contenedor_galeria_todo header.header_galeria label span.linea:nth-of-type(1) {
  top: -200%;
}

.contenedor_galeria_todo header.header_galeria label span.linea:nth-of-type(2) {
  top: 0%;
}

.contenedor_galeria_todo header.header_galeria label span.linea:nth-of-type(3) {
  top: 200%;
}

.contenedor_galeria_todo header.header_galeria nav.navegacion {
  display: none;
  position: relative;
  top: 100%;
  background: #dcdcdc;
  width: 100%;
  padding: 0 16px 0px;
  text-decoration: none;
}

.contenedor_galeria_todo header.header_galeria nav.navegacion ul.menu {
  display: grid;
  padding: 0 16px;
  text-align: center;
  justify-items: center;
  list-style: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.contenedor_galeria_todo header.header_galeria nav.navegacion ul.menu li {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.contenedor_galeria_todo header.header_galeria nav.navegacion ul.menu li a {
  text-align: center;
  padding: 12px 0;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.contenedor_galeria_todo header.header_galeria nav.navegacion ul.menu hr {
  width: 41px;
  height: 0.1px;
  opacity: 0.5;
  border: 0.1px solid green;
}

.contenedor_galeria_todo header.header_galeria input#menu:checked ~ nav.navegacion {
  display: inline;
}

.contenedor_galeria_todo header.header_galeria input[type="checkbox"]:checked + label span.linea:nth-of-type(1) {
  transform: rotate(-45deg) scaleX(1.1);
  top: 0;
}

.contenedor_galeria_todo header.header_galeria input[type="checkbox"]:checked + label span.linea:nth-of-type(2) {
  opacity: 0;
}

.contenedor_galeria_todo header.header_galeria input[type="checkbox"]:checked + label span.linea:nth-of-type(3) {
  transform: rotate(45deg) scaleX(1.1);
  top: 0;
}

@media screen and (min-width: 740px) {
  .contenedor_galeria_todo header.header_galeria img {
    width: 100px;
    height: 100px;
  }
  .contenedor_galeria_todo header.header_galeria label {
    display: none;
  }
  .contenedor_galeria_todo header.header_galeria hr {
    display: none;
  }
  .contenedor_galeria_todo header.header_galeria nav.navegacion {
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    background: none;
    position: relative;
    width: auto;
    margin-right: 3vw;
  }
  .contenedor_galeria_todo header.header_galeria nav.navegacion ul.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-columns: 10px;
  }
}

/* ------------------------- header CONTACTO ----------------------------- */
/* ------------------------- header CONTACTO ----------------------------- */
.header_contacto {
  background-color: transparent;
  width: 100%;
  right: 0;
  margin: auto;
  /* position: fixed; */
  left: 0;
  top: 0;
  /* Flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* -- Logo y navegacion en cada punta -- */
  align-items: center;
  /* -- Alinear -- */
}

.header_contacto a img {
  background-color: transparent;
  line-height: 150px;
  margin: auto;
}

.contenedor_contacto header.header_contacto input#menu {
  display: none;
}

.contenedor_contacto header.header_contacto label {
  cursor: pointer;
  margin-right: 38px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  transition: 0.3s;
  position: relative;
}

.contenedor_contacto header.header_contacto label span.linea {
  background: black;
  transition: 0.5s;
  position: absolute;
  padding-top: 2px;
  height: 2px;
  width: 18px;
  border-radius: 100px;
}

.contenedor_contacto header.header_contacto label span.linea:nth-of-type(1) {
  top: -200%;
}

.contenedor_contacto header.header_contacto label span.linea:nth-of-type(2) {
  top: 0%;
}

.contenedor_contacto header.header_contacto label span.linea:nth-of-type(3) {
  top: 200%;
}

.contenedor_contacto header.header_contacto nav.navegacion {
  display: none;
  position: relative;
  top: 100%;
  background: #dcdcdc;
  width: 100%;
  padding: 0 16px 0px;
  text-decoration: none;
}

.contenedor_contacto header.header_contacto nav.navegacion ul.menu {
  display: grid;
  padding: 0 16px;
  text-align: center;
  justify-items: center;
  list-style: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.contenedor_contacto header.header_contacto nav.navegacion ul.menu li {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.contenedor_contacto header.header_contacto nav.navegacion ul.menu li a {
  text-align: center;
  padding: 12px 0;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.contenedor_contacto header.header_contacto nav.navegacion ul.menu hr {
  width: 41px;
  height: 0.1px;
  opacity: 0.5;
  border: 0.1px solid green;
}

.contenedor_contacto header.header_contacto input#menu:checked ~ nav.navegacion {
  display: inline;
}

.contenedor_contacto header.header_contacto input[type="checkbox"]:checked + label span.linea:nth-of-type(1) {
  transform: rotate(-45deg) scaleX(1.1);
  top: 0;
}

.contenedor_contacto header.header_contacto input[type="checkbox"]:checked + label span.linea:nth-of-type(2) {
  opacity: 0;
}

.contenedor_contacto header.header_contacto input[type="checkbox"]:checked + label span.linea:nth-of-type(3) {
  transform: rotate(45deg) scaleX(1.1);
  top: 0;
}

@media screen and (min-width: 740px) {
  .contenedor_contacto header.header_contacto img {
    width: 120px;
    height: 120px;
  }
  .contenedor_contacto header.header_contacto label {
    display: none;
  }
  .contenedor_contacto header.header_contacto hr {
    display: none;
  }
  .contenedor_contacto header.header_contacto nav.navegacion {
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    background: none;
    position: relative;
    width: auto;
    margin-right: 3vw;
  }
  .contenedor_contacto header.header_contacto nav.navegacion ul.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-columns: 10px;
  }
}

/* ------------------------- header ERROR ----------------------------- */
/* ------------------------- header ERROR ----------------------------- */
.header_error {
  background-color: transparent;
  width: 100%;
  right: 0;
  margin: auto;
  /* position: fixed; */
  left: 0;
  top: 0;
  /* Flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* -- Logo y navegacion en cada punta -- */
  align-items: center;
  /* -- Alinear -- */
}

.header_error a img {
  background-color: transparent;
  line-height: 150px;
  margin: auto;
}

.contenedor_error header.header_error input#menu {
  display: none;
}

.contenedor_error header.header_error label {
  cursor: pointer;
  margin-right: 38px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  transition: 0.3s;
  position: relative;
}

.contenedor_error header.header_error label span.linea {
  background: black;
  transition: 0.5s;
  position: absolute;
  padding-top: 2px;
  height: 2px;
  width: 18px;
  border-radius: 100px;
}

.contenedor_error header.header_error label span.linea:nth-of-type(1) {
  top: -200%;
}

.contenedor_error header.header_error label span.linea:nth-of-type(2) {
  top: 0%;
}

.contenedor_error header.header_error label span.linea:nth-of-type(3) {
  top: 200%;
}

.contenedor_error header.header_error nav.navegacion {
  display: none;
  position: relative;
  top: 100%;
  background: #dcdcdc;
  width: 100%;
  padding: 0 16px 0px;
  text-decoration: none;
}

.contenedor_error header.header_error nav.navegacion ul.menu {
  display: grid;
  padding: 0 16px;
  text-align: center;
  justify-items: center;
  list-style: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.contenedor_error header.header_error nav.navegacion ul.menu li {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.contenedor_error header.header_error nav.navegacion ul.menu li a {
  text-align: center;
  padding: 12px 0;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.contenedor_error header.header_error nav.navegacion ul.menu hr {
  width: 41px;
  height: 0.1px;
  opacity: 0.5;
  border: 0.1px solid green;
}

.contenedor_error header.header_error input#menu:checked ~ nav.navegacion {
  display: inline;
}

.contenedor_error header.header_error input[type="checkbox"]:checked + label span.linea:nth-of-type(1) {
  transform: rotate(-45deg) scaleX(1.1);
  top: 0;
}

.contenedor_error header.header_error input[type="checkbox"]:checked + label span.linea:nth-of-type(2) {
  opacity: 0;
}

.contenedor_error header.header_error input[type="checkbox"]:checked + label span.linea:nth-of-type(3) {
  transform: rotate(45deg) scaleX(1.1);
  top: 0;
}

@media screen and (min-width: 740px) {
  .contenedor_error header.header_error img {
    width: 120px;
    height: 120px;
  }
  .contenedor_error header.header_error label {
    display: none;
  }
  .contenedor_error header.header_error hr {
    display: none;
  }
  .contenedor_error header.header_error nav.navegacion {
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    background: none;
    position: relative;
    width: auto;
    margin-right: 3vw;
  }
  .contenedor_error header.header_error nav.navegacion ul.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-columns: 10px;
  }
}

/* ------------------------------ INDEX ------------------------------ */
/* ------------------------------ INDEX ------------------------------ */
nav.navegacion {
  width: 50%;
  /* Flex */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav.navegacion .menu li {
  /* Flex */
  display: inline-block;
  /* -- para que esten uno al lado del otro --*/
  position: relative;
  /* -- para que se bajen los elementos pero con lugar --*/
}

nav.navegacion .menu a {
  color: #000000;
  /* -- Color de Letras Link --*/
  text-align: center;
  /* -- alinear horizontalmente --*/
  text-decoration: none;
  /* -- para sacar la linea --*/
  padding: 10px;
  /* Flex */
  display: block;
  border-radius: 20px;
  flex-grow: 1;
}

li a:hover {
  background-color: #dcdcdc;
  color: #000000;
}

/* ------------------------------ INDEX ------------------------------ */
/* ------------------------------ INDEX ------------------------------ */
/*------------ UN POCO SOBRE MI ------------*/
@media screen and (max-width: 400px) {
  .hero {
    margin-bottom: 60%;
  }
  .hero .contenido_perfil_index {
    display: flex;
    flex-direction: column;
  }
  .hero .contenido_perfil_index .imagen_facu_perfil_resumen {
    width: 200px;
    height: auto;
    margin-bottom: 10%;
  }
  .hero .contenido_perfil_index .titulo_perfil_index {
    /* ----- titulo -----  */
    font-size: 2rem;
    color: red;
    margin-left: 5%;
    margin-right: 5%;
  }
  .hero .contenido_perfil_index .parrafo_perfil_resumen {
    /* ----- parrafo ----- */
    font-size: 1rem;
    color: #000000;
  }
  .hero .contenido_perfil_index .botonQuiero {
    /* -- caja -- */
    padding: 5px 5px;
    margin-left: 20px;
  }
}

/* --------- contenido_habilidades INDEX --------- */
@media screen and (max-width: 400px) {
  .contenido_habilidades_index {
    background: red;
  }
  .contenido_habilidades_index .container_hab .conjunto_iconos {
    display: flex;
    flex-direction: column;
  }
}

/* --------- contenido_marcas INDEX --------- */
@media screen and (max-width: 400px) {
  .contenido_marcas_index .section2_index .container_r .caritas {
    position: relative;
    margin-top: 0px;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .contenido_marcas_index .section2_index .container_r .col-lg-8 {
    margin-top: 10%;
    margin-bottom: 5px;
  }
}

/* --------- contenido_despegar INDEX --------- */
@media screen and (max-width: 400px) {
  .contenido_despegar {
    display: flex;
    flex-direction: column;
  }
  .contenido_despegar .despega_img {
    width: 150%;
    height: auto;
  }
}

/* --------- Footer INDEX --------- */
@media screen and (max-width: 400px) {
  .footer_index .footer_container .footer_contacto {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }
  .footer_index .footer_container .footer_contacto .footer_texts .titulo_contacto {
    margin-top: 10%;
  }
  .footer_index .footer_container .footer_contacto .footer_texts .footer_parrafo {
    margin-top: 10%;
  }
  .footer_index .footer_container .footer_contacto .footer_texts .footer_social {
    display: flex;
    margin-left: 30px;
  }
  .footer_index .footer_container .footer_contacto .footer_texts .footer_social .footer_icon {
    margin-bottom: 3px;
  }
  .footer_index .footer_container .footer_contacto .footer_texts .footer_picture .footer_img {
    width: 100%;
    margin-left: 50%;
  }
  .footer_index .footer_container .footer_copyright {
    font-size: xx-small;
  }
}

/* ------------------------------ PERFIL ------------------------------ */
/* ------------------------------ PERFIL ------------------------------ */
@media screen and (max-width: 400px) {
  .seccion_perfil .foto_perfil img {
    width: 150px;
    height: 150px;
  }
  .seccion_perfil .contenido_texto_perfil .titulo_perfil {
    font-size: 18px;
  }
  .seccion_perfil .contenido_texto_perfil .titulo_perfil_subtitulo {
    font-size: 15px;
  }
  .seccion_perfil .contenido_texto_perfil .parrafo_perfil {
    font-size: 1rem;
    padding-right: 5%;
    padding-left: 5%;
  }
}

/* --------- footer PERFIL --------- */
@media screen and (max-width: 400px) {
  .nav_perfil .redes_sociales_perfil .icono_whatsapp_perfil {
    font-size: 15px;
    width: 10px;
  }
  .nav_perfil .redes_sociales_perfil .icono_youtube_perfil {
    font-size: 15px;
    width: 10px;
  }
  .nav_perfil .redes_sociales_perfil .icono_instagram_perfil {
    font-size: 15px;
    width: 10px;
  }
  .nav_perfil .redes_sociales_perfil .icono_mail_perfil {
    font-size: 15px;
    width: 10px;
  }
  .footer_perfil div .footer_copyright_perfil {
    font-size: xx-small;
  }
}

/* -------------------------- SERVICIO -------------------------- */
/* -------------------------- SERVICIO -------------------------- */
@media screen and (max-width: 400px) {
  .titulo_principal_servicios {
    font-size: 18px;
    color: #103c8d;
  }
  .contenido_servicio_todos {
    display: flex;
    flex-direction: column;
  }
  .contenido_servicio_todos .servicio_1y2 {
    display: flex;
    flex-direction: column;
  }
  .contenido_servicio_todos .servicio_1y2 .servicio_individual .foto_servicios img {
    width: 50%;
  }
  .contenido_servicio_todos .servicio_1y2 .servicio_individual .contendio_parrafo_servicio .titulo_servicio {
    font-size: 15px;
    color: brown;
  }
  .contenido_servicio_todos .servicio_1y2 .servicio_individual .contendio_parrafo_servicio .parrafo_servicio {
    font-size: 10px;
  }
  .contenido_servicio_todos .servicio_3y4 {
    display: flex;
    flex-direction: column;
  }
  .contenido_servicio_todos .servicio_3y4 .servicio_individual .foto_servicios img {
    width: 50%;
  }
  .contenido_servicio_todos .servicio_3y4 .servicio_individual .contendio_parrafo_servicio .titulo_servicio {
    font-size: 15px;
    color: brown;
  }
  .contenido_servicio_todos .servicio_3y4 .servicio_individual .contendio_parrafo_servicio .parrafo_servicio {
    font-size: 10px;
  }
}

/* ---------------------------- MENU -------------------------------- */
/* ---------------------------- MENU -------------------------------- */
.navegacion ul li a {
  transition: all 0.3s linear;
}

/* ---------------------------- INDEX -------------------------------- */
/* ---------------------------- INDEX -------------------------------- */
.container {
  width: 100vh;
  max-width: 1200px;
  padding: 50px, 0;
  margin: 30px 0;
  overflow: hidden;
}

.contenedor_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffff;
  /* width: 100%; */
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}

/* --------- main INDEX --------- */
.main_index {
  /* max-width: 1300px;*/
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  padding-top: 0;
  position: relative;
  margin: 0 0%;
  width: 90%;
}

.carousel {
  box-shadow: 0 0 20px #191919;
  margin-left: 20px;
  margin-top: 0;
}

/*------------ UN POCO SOBRE MI ------------*/
/* ---- contendio_perfil INDEX ---- */
.hero {
  height: 100vh;
  min-width: 400px;
  padding: 0px;
  margin-right: 0px;
  margin-top: 5%;
}

.contenido_perfil_index {
  /* ----- Bloque Perfil -----  */
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 5px;
  padding: 50px 0;
  margin: 100px 100px;
  margin-top: 5%;
}

.imagen_facu_perfil_resumen {
  /* ----- imagen -----  */
  border-radius: 15%;
  object-fit: cover;
  box-shadow: 0 0 10px black;
}

/* --------- contenido_habilidades INDEX --------- */
.contenido_habilidades_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid #aa8d4d;
  background-color: transparent;
  margin: 0 10px;
  padding: 0 0%;
  width: 100%;
  /* max-width: 1300px; */
}

.container_hab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
}

.conjunto_iconos {
  display: flex;
  text-align: center;
  margin: auto;
}

.icono_grafico {
  margin: 20px;
  background-color: #ffff;
  padding: 15px;
  border-top: 5px solid #103c8d;
  box-shadow: 0 0 5px #000000;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------- contenido_marcas INDEX --------- */
.contenido_marcas_index {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 2px solid #aa8d4d;
  background-color: transparent;
  width: 100%;
}

.caritas {
  position: relative;
  margin-top: -100px;
  margin-left: 150px;
  margin-bottom: 50px;
}

.section2_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  margin-left: 5%;
}

.align-items-center {
  margin-left: 10%;
}

.rem {
  box-shadow: 0 0 3px black;
}

/* --------- contenido_despegar INDEX --------- */
.contenido_despegar {
  margin-bottom: 50px;
}

/* -------------------------- PERFIL -------------------------- */
/* -------------------------- PERFIL -------------------------- */
.seccion_perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  background-color: transparent;
}

.foto_perfil img {
  /* ---- Foto ---- */
  display: block;
  margin: auto;
  position: relative;
  background-color: transparent;
  border-radius: 1000%;
  border: 10px;
  box-shadow: 0 0 10px black;
}

/* -------------------------- SERVICIO -------------------------- */
/* -------------------------- SERVICIO -------------------------- */
.servicio_1y2 {
  display: flex;
  margin-bottom: 5%;
}

.servicio_3y4 {
  display: flex;
}

.contenido_servicio_todos {
  display: flex;
  margin-top: 2%;
  margin-bottom: 50%;
  margin-right: 5%;
  margin-left: 5%;
  position: sticky;
}

.servicio_individual {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-bottom: 0;
}

.contendio_parrafo_servicio {
  display: flex;
  flex-direction: column;
  background-color: #dcdcdc;
  box-shadow: 0 0 5px #696969;
  padding: 3%;
}

.foto_servicios {
  margin: 20px;
  transition: all 1s;
  filter: grayscale(100%);
}

.foto_servicios img {
  border-radius: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.foto_servicios:hover {
  filter: grayscale(0%);
}

/* -------------------------- PRODUCTOS -------------------------- */
/* -------------------------- PRODUCTOS -------------------------- */
/* -------- cajas seccion (grande) -------- */
.seccion_productos {
  display: flex;
  /* --uno al lado del otro-- */
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}

/* ------ cajas contendio (media) ------ */
.caja_productos {
  display: flex;
  /* --uno al lado del otro-- */
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.caja_productos_solo {
  display: flex;
  justify-content: center;
}

/* -------- cajas indiv -------- */
.caja_p {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px;
}

/* ---------------------- CONTACTOS ---------------------- */
/* ---------------------- CONTACTOS ---------------------- */
.contenedor_contacto {
  background-image: url(../imagenes/imagenes_index/foto_facu_fondoo.png);
  background-repeat: no-repeat;
}

.needs-validation {
  margin: 50px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 50px;
}

/* ---------------------------- ERROR -------------------------------- */
/* ---------------------------- ERROR -------------------------------- */
.contenedor_error {
  background-image: url(../imagenes/imagenes_error/error404.png);
  background-repeat: no-repeat;
}
