// GRIDS // 

/* ---------------------------- INDEX -------------------------------- */
/* ---------------------------- INDEX -------------------------------- */

/* --------- contenido_despegar INDEX --------- */

.contenido_despegar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    background-color: $Color2G;
    width: 100%;
    position: relative;
    margin: 5%;
}

.despega{
    margin: 50px;
    grid-column: 3/-1;
    grid-row: 1/-1;
}

.despega_img{
    width: 80%;
    object-fit: cover;
    margin-left: 15%;
}

.despega_about{
    z-index: 100;
    align-self: center;
    width: 97%;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0 0 6px $ColorN;
    background-color: $Color4A;
    grid-column: 1/4;
    grid-row: 2/-2;
    margin-right: 50px;
}

.despega--right{
    grid-column: 1/4;
}

.despega_about--left{
    grid-column: 3/-1;
}

/* ------------------------------ GALERIA ------------------------------ */
/* ------------------------------ GALERIA ------------------------------ */

main{
    .titulo_galeria{
        color: $backGround1;
    }
    .contenedor_galeria {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas:
        "soymascota nattybrit weirdo"
        "gameobert quimey soymascota2"
        "weirdo2 soytaza gino";
        .imagen_galeria{
            display: block;
            width: 300px;
            height: 300px;
        }
        .weirdo { grid-area: weirdo; 
            background-image: url(../imagenes/imagenes_galeria/weirdo.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        
        .weirdo2 { grid-area: weirdo2; 
            background-image: url(../imagenes/imagenes_galeria/weirdo2.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        
        .nattybrit { grid-area: nattybrit; 
            background-image: url(../imagenes/imagenes_galeria/nattybrit.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        
        .soytaza { grid-area: soytaza; 
            background-image: url(../imagenes/imagenes_galeria/soytaza.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        
        .soymascota { grid-area: soymascota; 
            background-image: url(../imagenes/imagenes_galeria/soymascota.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        
        .soymascota2 { grid-area: soymascota2; 
            background-image: url(../imagenes/imagenes_galeria/soymascota2.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        
        .quimey { grid-area: quimey; 
            background-image: url(../imagenes/imagenes_galeria/quimey.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        
        .gameobert { grid-area: gameobert; 
            background-image: url(../imagenes/imagenes_galeria/gameobert.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        
        .gino { grid-area: gino; 
            background-image: url(../imagenes/imagenes_galeria/gino.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .imagen_galeria {
            transition: all 1s;
        }
        
        .imagen_galeria:hover {
            transform: scale(1.1,1.1);
        }
          /* ---- Grids END ---- */
    }

    @media screen and (max-width:400px){
        .contenedor_galeria{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(9,1fr);
            grid-auto-columns: 1fr;
            gap: 20px 10px; /* ---- gap, espacio entre filas y columnas ---- */
            grid-auto-flow: row;
            grid-template-areas:
            "soymascota" 
            "nattybrit" 
            "weirdo"
            "gameobert" 
            "quimey" 
            "soymascota2"
            "weirdo2"
            "soytaza" 
            "gino";
            height: 50%;
            justify-content: center;
            padding: 20px; /* ---- para que se separen un poco ---- */
        
            .imagen_galeria{
                display: block;
                width: 100px;
                height: 100px;
            }
        }
    }
}